html,body{

    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

canvas{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    touch-action:none;
}
