*{
    touch-action:none;
}

html,body{
    margin:0px;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

cnavas{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

#canvas1{
    position:absolute;
    top:10%;
}

#slider1{
    position:absolute;
    bottom:19%;
    left:30%;
    width:27%;
    transform:scale(3);
}
   
#slider2{
    position:absolute;
    bottom:12%;
    left:30%;
    width:27%;
    transform:scale(3);
}

#slider3{
    position:absolute;
    bottom:5%;
    left:30%;
    width:27%;
    transform:scale(3);
}


#label1{
    position:absolute;
    bottom:14%;
    right:4%;
    font-size:34px;
}



#container1{
    position:absolute;
    bottom:24%;;
    right:15%;
    transform:scale(2.5);
}

#select1{
    position:absolute;
    top:3%;
    left:17%;
    width:33%;
    font-size:40px;
}

#select2{
    position:absolute;
    top:3%;
    right:5%;
    width:25%;
    font-size:40px;
    visibility: hidden;
}

#select3{
    position:absolute;
    bottom:24%;
    left:5%;
    width:40%;
    font-size:40px;
    visibility: hidden;
}

#link1{
    position:absolute;
    top:3%;
    left:3%;
    font-size:30px;
}



