html,body{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

cnavas{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    touch-action:none;
}
